Recaster.Client/Service References/RecasterService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14050/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Recaster.Common" />
  <xs:element name="StartEndpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Recaster.Common" minOccurs="0" name="endpointType" type="q1:EndpointType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEndpointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopEndpoint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopEndpointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMulticastRcvSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Recaster.Common" minOccurs="0" name="settings" nillable="true" type="q2:ArrayOfMulticastGroupSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMulticastRcvSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMulticastRcvSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMulticastRcvSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Recaster.Common" minOccurs="0" name="GetMulticastRcvSettingsResult" nillable="true" type="q3:ArrayOfMulticastGroupSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUnicastServerSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Recaster.Common" minOccurs="0" name="settings" nillable="true" type="q4:UnicastSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUnicastServerSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnicastServerSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnicastServerSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Recaster.Common" minOccurs="0" name="GetUnicastServerSettingsResult" nillable="true" type="q5:UnicastSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUnicastClientSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Recaster.Common" minOccurs="0" name="settings" nillable="true" type="q6:UnicastSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUnicastClientSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnicastClientSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnicastClientSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Recaster.Common" minOccurs="0" name="GetUnicastClientSettingsResult" nillable="true" type="q7:UnicastSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>